/*****************************************
MAIN
*****************************************/
body {
  background-color: black; }

a {
  text-decoration: none; }

section {
  display: hidden; }

/*****************************************
ALBUM DISPLAY
*****************************************/
.albumDisplay {
  width: 100%;
  background-color: white;
  display: none; }

.albumHead {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 2em;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .albumHead h1 {
    text-align: center; }

.oneThird {
  display: inline-block;
  width: 32%; }

.albumSpace {
  width: 100%;
  display: inline-block;
  padding-bottom: 50px; }

.albumContainer {
  width: 300px;
  padding: 0;
  margin: 17%;
  margin-bottom: 0;
  border: solid 1px black;
  display: inline-block;
  overflow: hidden;
  height: 280px;
  vertical-align: top; }

img {
  max-width: 135%;
  min-height: 100%;
  min-width: 100%; }

.albumImg {
  width: 300px;
  height: 85%;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  font: 0;
  font-size: 0;
  border-bottom: 1px solid black; }

p {
  text-align: center;
  width: 100%;
  margin: auto; }

.albumdescription {
  height: 16%; }

/*****************************************
GALLERY DISPLAY
*****************************************/
.galleryDisplay {
  background-color: black;
  width: 100%;
  display: none; }

.galleryNav {
  display: inline-block;
  background-color: black;
  width: 20%; }

#galleryList {
  list-style: none;
  position: fixed;
  width: 20%;
  margin-top: 10%; }
  #galleryList li {
    list-style: none;
    padding: 10px 5px;
    background-color: white;
    border-radius: 2px;
    color: black;
    width: 60%;
    margin: 10px;
    display: inline-block;
    text-align: center; }

.photoAlbumTitle {
  width: 100%;
  text-align: center;
  margin: 40px 0px 30px 0px; }

.photoDisplayCase {
  vertical-align: top;
  display: inline-block;
  width: 79%;
  min-height: 1000px;
  background-color: white;
  float: right; }

/*****************************************
PHOTO DISPLAY
*****************************************/
.photoDisplay {
  background-color: black;
  width: 100%;
  display: none; }

.photoHead {
  margin-bottom: 30px; }

.backAlbum {
  display: inline-block;
  width: 30%; }

.backButton {
  background-color: white;
  border-radius: 5px;
  padding: 4px 6px;
  width: 28%;
  margin: auto;
  display: block; }

.photoTitle {
  color: white;
  width: 68%;
  display: inline-block; }
  .photoTitle h1 {
    margin-left: 20%; }

.bigPic {
  display: block;
  width: 700px;
  overflow: hidden;
  margin: auto; }
  .bigPic img {
    min-width: 100%;
    min-height: 0;
    max-width: 100%; }

.activate {
  display: block; }
